// Override Bootstrap variables down here

$font-family-base: "Nunito Sans", sans-serif;

// Colors
$primary: #5277a5;
// $secondary: #;
$success: #0f766e;
$info: #4f46e5;
$warning: #f59e0b;
$danger: #dc2626;
// $light: #;
// $dark: #;

// Button
$btn-padding-y:0.9rem; 
$btn-padding-x:1.6rem; 
$btn-font-family:"Nunito Sans", sans-serif; 
$btn-font-size:small; 
$btn-line-height:0.5; 
$btn-padding-y-sm:0.6rem; 
$btn-padding-x-sm:1rem; 
$btn-font-size-sm:smaller; 
$btn-padding-y-lg:1rem; 
$btn-padding-x-lg:1.8rem; 
$btn-font-size-lg:medium; 
$btn-border-width:1.25px;
$btn-font-weight:600;
$btn-link-color:green; 
$btn-link-hover-color:white; 
$btn-link-disabled-color:black; 
$btn-border-radius:50px; 
$btn-border-radius-sm:50px; 
$btn-border-radius-lg:50px; 


// Import Bootstrap
@import 'bootstrap/scss/bootstrap'; // Custom styles

:root {
    --color-primary-50: #f5f7fa;
    --color-primary-100: #e9edf5;
    --color-primary-200: #cfd9e8;
    --color-primary-300: #a4b9d5;
    --color-primary-400: #7494bc;
    --color-primary-500: #5277a5;
    --color-primary-600: #3f5e8a;
    --color-primary-700: #344c70;
    --color-primary-800: #2e415e;
    --color-primary-900: #2a3950;
    --color-primary-950: #1c2535;

    --swiper-navigation-color: #3f5e8a;
}

// Background Primary Color Shade
.bg-primary-50 {
    background-color: var(--color-primary-50);
}

.bg-primary-100 {
    background-color: var(--color-primary-100);
}

.bg-primary-200 {
    background-color: var(--color-primary-200);
}

.bg-primary-300 {
    background-color: var(--color-primary-300);
}

.bg-primary-400 {
    background-color: var(--color-primary-400);
}

.bg-primary-500 {
    background-color: var(--color-primary-500);
}

.bg-primary-600 {
    background-color: var(--color-primary-600);
}

.bg-primary-700 {
    background-color: var(--color-primary-700);
}

.bg-primary-800 {
    background-color: var(--color-primary-800);
}

.bg-primary-900 {
    background-color: var(--color-primary-900);
}

.bg-primary-950 {
    background-color: var(--color-primary-950);
}

// Text Primary Color Shade
.text-primary-50 {
    color: var(--color-primary-50);
}

.text-primary-100 {
    color: var(--color-primary-100);
}

.text-primary-200 {
    color: var(--color-primary-200);
}

.text-primary-300 {
    color: var(--color-primary-300);
}

.text-primary-400 {
    color: var(--color-primary-400);
}

.text-primary-500 {
    color: var(--color-primary-500);
}

.text-primary-600 {
    color: var(--color-primary-600);
}

.text-primary-700 {
    color: var(--color-primary-700);
}

.text-primary-800 {
    color: var(--color-primary-800);
}

.text-primary-900 {
    color: var(--color-primary-900);
}

.text-primary-950 {
    color: var(--color-primary-950);
}